html {
  font-size: 10px;
  font-family: 'Prata', serif;
}


h1 {
  font-size: 60px;
  text-align: center;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}


html {
  background-color: black;
}

body {
  width:100vh;
  margin: 0 auto;
  background-color: rgb(0, 0, 0);
  padding: 0 20px 20px 20px;
}

h1 {
  margin: 20px auto;
  padding: 20px 0;
  color: #cb0100;
  text-shadow: 3px 3px 1px #610101;
}

img {
  display: block;
  margin: 0 auto;
  width: 690px;
}

button {
  display: flex;
  margin:30px auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #cb0100;
  color: white;
  box-shadow: 3px 3px 1px #610101;
  border: none;
  font-family: 'Georgia', serif;
  cursor: pointer;
}

