/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Background */
main{
    background-color: black;
}

/* Text Styles */
.story-text{
    display: grid;
    justify-content: center;
    background-color: black;
    z-index: 1;
}

#story-caption{
    font-family: 'Montserrat', serif;
    color: white;
    font-weight:400;
    text-align: center;
    padding: 2vh;
    font-size: 6vh;
}

/* Image Styles */
.story-image{
    display: grid;
    justify-content: center;
    cursor: pointer;
}

.story-image img{
    max-width: 66.7vh;
    height: auto;
}

/*Grid Overlay*/
.story-grid{
    display: grid;
    place-items: center;
}

.story-image,
.story-text {
  grid-area: 1 / 1;
}
