/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Background */
main{
    background-color: black;
}

/* Text Styles + Animations */
.story-header{
    display: grid;
    justify-content: center;
    background-color: black;
    z-index: 1;
    transition: opacity 0.5s ease-out;
    opacity: 1;
}

.story-header.hidden {
  opacity: 0;
  pointer-events: none;
}

#story-title{
    font-family: 'Montserrat', serif;
    color: white;
    font-weight:400;
    text-align: center;
    padding: 2vh;
    font-size: 6vh;
    transition: color 0.5s ease-in;
}


/* Image Styles + Animations */
.story-image{
    display: grid;
    justify-content: center;
    cursor: pointer;
}

.story-image img{
    max-width: 66.7vh;
    height: auto;
    transition: opacity 0.5s ease-in-out;
}

/*Grid Overlay*/
.story-grid{
    display: grid;
    place-items: center;
}

.story-image,
.story-header {
  grid-area: 1 / 1;
}
