*{
  margin: 0;
}

.foreground{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
}

#layer-1{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;
  z-index: 2;
}

#layer-2{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;
  z-index: 1;
}

#layer-3{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;
  z-index: 0;
}

#layer-4{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;
  z-index: -1;
}